<div class="container" fxLayout="row" fxLayoutAlign="center center">

    <form [formGroup]="medicineForm">

        <mat-card fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <mat-card-title *ngIf="data.isUpdateMode">Update Record</mat-card-title>
            <mat-card-title *ngIf="!data.isUpdateMode">Insert New</mat-card-title>


            <mat-card-content>

                <mat-form-field class="full-width">
                    <input type="text"
                           placeholder="Pick one"
                           aria-label="Number"
                           matInput
                           formControlName="medicine_id"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option  *ngFor="let option of filteredOptions | async"
                                    [value]="option?.name + ' ' + option.measurement_value+ ' ' + option.title"
                                    (onSelectionChange)="getMedicineId(option.id)">
                            {{option?.name + " " + option.measurement_value + " " + option.title}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>


                <mat-form-field class="full-width">
                    <mat-select formControlName="medicine_main_packing_id" placeholder="packing ">
                        <mat-option label="-- select packing "></mat-option>
                        <mat-option *ngFor="let packing of packings"
                                    [value]="packing.id">{{packing?.title}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="medicineForm.controls['medicine_main_packing_id'].hasError('required')">
                        <strong>{{errorMessages.required}}</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="quantity" formControlName="quantity" autocomplete="quantity"
                           type="number">
                    <mat-error *ngIf="medicineForm.controls['quantity'].hasError('min')">
                        {{ errorMessages.min }}
                    </mat-error>
                    <mat-error *ngIf="medicineForm.controls['quantity'].hasError('max')">
                        {{ errorMessages.max }}
                    </mat-error>
                    <mat-error *ngIf="medicineForm.controls['quantity'].hasError('required')">
                        <strong>{{errorMessages.required}}</strong>
                    </mat-error>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions class="login-actions">
                <button mat-raised-button *ngIf="data.isUpdateMode" color="primary"
                        [disabled]="medicineForm.invalid || loading"
                        (click)="store()">update
                </button>
                <button mat-raised-button *ngIf="!data.isUpdateMode" color="primary"
                        [disabled]="medicineForm.invalid || loading"
                        (click)="store()">insert
                </button>
                <button id="resetPassword" mat-raised-button color="accent" (click)="closeDialog()" type="button">
                    close
                </button>
            </mat-card-actions>

        </mat-card>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    </form>

</div>

