<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <mat-card-content>
                <div class="padding-bottom-10 ">
                    <form [formGroup]="patientForm" (ngSubmit)="store(patientForm.value)"  >
                        <mat-form-field class="">
                            <input matInput placeholder="patient full name" formControlName="full_name"
                                   type="text">

                            <mat-error *ngIf="patientForm.controls['full_name'].hasError('minLength')">
                                {{ errorMessages.minLength }}
                            </mat-error>

                            <mat-error *ngIf="patientForm.controls['full_name'].hasError('maxLength')">
                                {{ errorMessages.maxLength }}
                            </mat-error>

                            <mat-error *ngIf="patientForm.controls['full_name'].hasError('required')">
                                <strong>{{errorMessages.required}}</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-card-actions class="login-actions">
                            <button mat-raised-button color="primary"
                                   >insert
                            </button>
                            <button id="resetPassword" mat-raised-button color="default" (click)="close()" type="button">
                                close
                            </button>
                        </mat-card-actions>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

